<div class="pagetitle">
    <a href="/resource/add">上传资源</a>
</div>
<table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr>
        <td class="title">编号</td>
        <td class="title">资源名称</td>
        <td class="title">版本</td>
        <td class="title">资源链接</td>
        <td class="title">创建日期</td>
        <td class="title">操作</td>
    </tr>
    <%console.log('results:',results);
    if(results){
    results.forEach(function(item){
    %>
    <tr>
        <td class="data"><%-item.resource_id%></td>
        <td class="data"><%-item.resource_tag%></td>
        <td class="data"><%-item.resource_version%></td>
        <td class="data"><%-item.resource_url%></td>
        <td class="data"><%-item.create_date//.format('yyyy-MM-dd hh:mm:ss')%></td>
        <td class="data"><a href="/resource/chk?id=<%-item.resource_id%>">检查</a></td>
    </tr>
    <%
    });
    }
    %>
</table>